<div class="data-container">
    <div *ngIf="topsData"class="data-table grid-y" >
      <h4 *ngIf="symbol">{{symbol}}  Summary</h4>
      <table  class="cell auto" *ngIf="symbol">
        <tbody>
          <tr>
            <td>Symbol</td>
            <td>{{topsData.symbol}}</td>
          </tr>
          <tr>
            <td>Security Type</td>
            <td>{{topsData.securityType}}</td>
          </tr>
          <tr>
            <td>Sector</td>
            <td>{{topsData.sector}}</td>
          </tr>
          <tr>
            <td>Market Percent</td>
            <td>{{topsData.marketPercent}}</td>
          </tr>
          <tr>
            <td>Last Sale Price</td>
            <td>{{topsData.lastSalePrice}}</td>
          </tr>
          <tr>
            <td>Bid Price</td>
            <td>{{topsData.bidPrice}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="deepData">  
    <div class="data-table grid-y" >
        <h4 *ngIf="symbol" >{{symbol}} Details</h4>
        <table  class="cell auto" *ngIf="symbol">
          <tbody>
            <tr>
              <td>Security Event</td>
              <td>{{deepData.securityEvent.securityEvent}} {{deepData.securityEvent.timestamp}}</td>
            </tr>
            <tr>
              <td>SSR status</td>
              <td>{{deepData.isSSR}}</td>
            </tr>
            <tr>
              <td>System Event</td>
              <td>{{deepData.systemEvent.systemEvent}} {{deepData.systemEvent.timestamp}}</td>
            </tr>
            <tr>
              <td>Trade Breaks</td>
              <td>{{deepData.tradeBreaks.length}}</td>
            </tr>
            <tr>
              <td>Trade Count</td>
              <td>{{deepData.trades.length}}</td>
            </tr>
            <tr>
              <td>Trading Status</td>
              <td>{{deepData.tradingStatus.status}} {{deepData.tradingStatus.timestamp}}</td>
            </tr>
            <tr>
              <td>Volume</td>
              <td>{{deepData.volume}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div *ngIf="!symbol">Search and select a stock</div>