

<div class=" nav-container grid-container">
    <div class="grid-x">
        <div *ngIf="!symbol" class="medium-8">Search and select a stock (eg. AAPL)</div>
        <a class="button cell medium-4  " [href]="signOutURL" (click)="signOut()">Sign Out</a>        
    </div>
    <div>
        <div class="grid-x">
            <input class="medium-8" [(ngModel)]="searchFor" type="search">
            <button class="medium-4 button search-button" (click)="search()">Search</button>        
        </div>
    </div>
</div>
