

<div class=" nav-container grid-container">
    <a class="button cell" [href]="signOutURL" (click)="signOut()">Sign Out</a>
    <div>
        <div class="grid-x">
            <input class="large-9" [(ngModel)]="searchFor" type="search">
            <button class="button search-button" (click)="search()">Search</button>        
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-3 columns">
            <ul class="vertical tabs" data-tabs id="example-tabs">
            <li role="tab" *ngFor="let symbol of symbols" class="tabs-title">
                <a (click)="selectedSymbol = symbol.symbol && selectSymbol(symbol.symbol)" [attr.aria-selected]="symbol.symbol == selectedSymbol">{{symbol.symbol}}</a>
            </li>
            </ul>
        </div>
    </div>
</div>
