<div class="pagination grid-x grid-margin-x cell animated fadeInUp" *ngIf="total > 0">
  <div [hidden]="pagesToShow<=1" class="numbers medium-10">
    <button class="pagination-previous" (click)="onPrev()" [disabled]="pageNumber === 1 || loading"
      [ngClass]="{ 'disabled': pageNumber === 1 || loading }"></button>
    <button  class="pageNum" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)" [ngClass]="{'active': pageNum === pageNumber, 'disabled': loading}">{{ pageNum }}</button>
    <button  class="pagination-next" (click)="onNext(true)" [disabled]="lastPage() || loading"
      [ngClass]="{ 'disabled': lastPage() || loading }"></button>
  </div>
</div>